:root {
  --color-background: #242424;
  --color-text: rgba(255, 255, 255, 0.87);
  --color-link: #646cff;
  --color-link-hover: #535bf2;
  --color-button: #1a1a1a;
  --color-button-hover: #646cff;
  --color-button-light: #f9f9f9;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
}

a {
  color: var(--color-link);
}

a:hover {
  color: var(--color-link-hover);
}

button {
  background-color: var(--color-button);
}

button:hover {
  border-color: var(--color-button-hover);
}
button:active {
  background-color: #333;
}
* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-background: #ffffff;
    --color-text: #213547;
    --color-link: #646cff;
    --color-link-hover: #747bff;
    --color-button: #f9f9f9;
    --color-button-hover: #646cff;
  }
}
